<!-- Main content -->

<section class="content container-fluid">
  <div class="box col-md-12 col-xs-12 col-sm-12">
    <div class="box-header with-border">
      <h3 class="box-title"> Новый товар</h3>
    </div>
    <%= form_for @new_item, url: items_path do |f| %>
      <br/>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Название' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Цена' %>
              <%= f.text_field :price, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Форма выпуска' %>
              <%= f.text_field :form_of_issue, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Показания' %>
              <%= f.text_field :indications, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Противопоказания' %>
              <%= f.text_field :contraindications, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Побочные еффекты' %>
              <%= f.text_field :side_effects, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Способ применения' %>
              <%= f.text_field :mode_of_application, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Срок годности' %>
              <%= f.text_field :reg_data, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Категория' %>
              <%= f.text_field :category, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
              <%= f.label 'Фото' %>
              <%= f.file_field :photo %>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-5 col-sm-8 col-xs-12 ">
            <div class="form-group">
              <%= f.submit 'Создать', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>

</section>
<!-- /.content -->